@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

.header {
    background-color: #CCC;
    overflow: hidden;
}

.title {
    margin: 0;
    text-align: center;
}

.nav {
    padding: 0;
    color: #0074D9;
    list-style: none;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 30em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
}

@media only screen and (min-width: 40em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
    .title {
        text-align: left;
    }
}

.banner {
    background-color: #E2E2E2;
    text-align: center;
    font-weight: 500;
}
.footer {
    background-color: #ccc;
}

.color {
    background-color: #e2e2e2;
}

.light {
    background-color: #efefef;
}

.title2 {
    text-align: center;
    background-color: #efefef;
}

    
    
    

    
