@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
    
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

.header {
    background-color: #CCC;
    overflow: hidden;
}

.title {
    margin: 0;
    text-align: center;
}

.nav {
    padding: 0;
    color: #0074D9;
    list-style: none;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 25em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
}

@media only screen and (min-width: 38em) {
    
    nav li {
        display: inline-block;
    }
    
    nav { 
        text-align: center;
    }
    
    .title {
        text-align: left;
    }
    
    .footer {
        text-align: right;
    }
        
    .copyright {
        text-align: left;
    }
}

.banner {
    background-color: #E2E2E2;
    text-align: center;
    font-weight: 500;
}

.footer {
    background-color: #ccc;
    font-weight: 400;
}

.color {
    background-color: #e2e2e2;
}

.light {
    background-color: #efefef;
}

.title2 {
    text-align: center;
    background-color: #efefef;
}

@media only screen and (min-width: 60em) {
    
        dl {
        overflow: hidden;
    }
        dt {
        float: left;
        clear: left;
        width: 8rem;
    }

        dd {
            float: left;
            margin: 0;
            padding: 0;
        }
}

.copyright {
    background-color: #ccc;
    font-weight: 400;
}

.moon {
    background-color: #efefef;
}

.discovery {
    background-color: #efefef;
}
    
    
    
    

    
